<footer>
    <div class="container shadow">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">youtube</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">github</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright 2023 by bouba.tech
                  
               | Design: <a rel="nofollow" href="https://templatemo.com" target="_parent">Boubacar diallo</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>